*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #17003e;
}
.home_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 42px;
}
.files_container {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.files_here {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

}
.fa-trash {
  width: 20px;
  height: 20px;
  color: red;
  cursor: pointer;
  padding: 6px;
}
.fa-download{
 color: #fff;
 background-color: #17003e;
 border-radius: 50%;
 width: 20px;
 height: 20px;
 cursor: pointer;
 padding: 6px;
}
.fa-download:hover{
  background-color: #00ba13;
  color:#17003e;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid #17003e;
  
}
.images_here {
  display: flex;
  flex-direction: column;
 
}
.vidos_here {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.form_heading {
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 8px;
}
.file_form {
  display: flex;
  flex-flow: column;
}
.file_form input {
  padding: 8px;
  font-size: 14px;
  background-color: #f6f6f6;
  border: 2px solid #2c0040;
  border-radius: 8px;
  outline: none;
}

.fileform_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 12px;
}


.file-label {
  display: inline-block;
  width: 300px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.image_box {
  position: relative;
}
.image_file{
  margin-top: 25px;
}
.video_box {
  position: relative;
}
.delet_icon_video {
  position: absolute;
  top: 40px;
  right: 10px;
}
.delet_icon {
  position: absolute;
  bottom: 14px;
  right: 10px;
 display: flex;
 flex-direction: column;

}

.file-label span {
  display: block;
  color: #fff;
}

.file-label img {
  width: 40px;
}

input[type="file"] {
  display: none;
}

::-webkit-file-upload-button {
  display: none;
}
.file_category {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  font-family: sans-serif;
}
.uploadimg_btn {
  background-color: #5d00ff;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  padding: 8px;
  border-radius: 12px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.submitimg_btn {
  background-color: #00ba13;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  margin-top: 12px;
  cursor: pointer;
}
.uploading_btn{
  background-color: #FACC03;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  margin-top: 12px;
}
.submitvid_btn {
  background-color: #00ba13;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  margin-top: 12px;
  cursor: pointer;
}
.uploadvid_btn {
  background-color: #5d00ff;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  padding: 8px;
  border-radius: 12px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-left: 8px;
}
.file_notfound{
  color: #fff;
  font-family: serif;
}

@media only screen and (max-width: 600px){

.files_here{
  flex-direction: column;
  gap: 20px;
}
.vidos_here{
margin-left: 0;
}
}